@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (ImageContent is not null)
    {
        <figure>@ImageContent</figure>
    }
    <div class="card-body">
        @if (TitleContent is not null)
        {
            <h2 class="card-title">@TitleContent</h2>
        }
        else if (!string.IsNullOrWhiteSpace(Title))
        {
            <h2 class="card-title">@Title</h2>
        }
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        @if (ActionContent != null)
        {
            <div class="card-actions">
                @ActionContent
            </div>
        }
    </div>
</div>