@inherits LayoutComponentBase

<DaisyLayout Theme="@theme">
    <DaisyNavbar Style="position:sticky;top:0;z-index:1000">
        <StartContent>
            <DaisyButton OnClick="_=>showSidebar=!showSidebar" Square Color="@Color.Neutral">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                    style="width: 1.5rem;height: 1.5rem;stroke: hsla(var(--bc) / var(--tw-text-opacity, 1));">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </DaisyButton>
            <DaisyLink UnderlineOnHover Href="">
                <h4>DaisyBlazor</h4>
            </DaisyLink>
        </StartContent>
        <EndContent>
            <DaisySelect Style="margin-right:1rem;" @bind-Value="@theme">
                @for (int i = 0; i < daisyTheme.Length; i++)
                {
                    <option>@daisyTheme[i]</option>
                }
            </DaisySelect>
            <DaisyLink UnderlineOnHover Color="@Color.Primary" Href="https://github.com/gaofen13/daisy-blazor/"
                Target="_blank">Github</DaisyLink>
            <DaisyDivider Vertical />
            <DaisyLink UnderlineOnHover Color="@Color.Secondary" Href="https://gitee.com/gaofen13/daisy-blazor/"
                Target="_blank">Gitee</DaisyLink>
        </EndContent>
    </DaisyNavbar>
    <DaisyDrawer Style="z-index:1001" @bind-Open="@showSidebar">
        <NavMenu OnCloseBtnClicked="(_=>showSidebar=false)" />
    </DaisyDrawer>
    <div>
        <DaisyErrorBoundary>
            @Body
        </DaisyErrorBoundary>
    </div>
</DaisyLayout>
