@page "/forms"

<EditForm Model="@info" OnValidSubmit="@ValidSubmit">
    <DataAnnotationsValidator />
    <DaisyFormField Label="Radio">
        <DaisyRadioGroup @bind-Value="@info.Radio">
            <DaisyRadio Value="@("S1")">S1</DaisyRadio>
            <DaisyRadio Value="@("S2")">S2</DaisyRadio>
            <DaisyRadio Value="@("S3")">S3</DaisyRadio>
        </DaisyRadioGroup>
    </DaisyFormField>
    <DaisyFormField Label="VerticalRadio">
        <DaisyRadioGroup Vertical @bind-Value="@info.Radio">
            <DaisyRadio Value="@("S1")">S1</DaisyRadio>
            <DaisyRadio Value="@("S2")">S2</DaisyRadio>
            <DaisyRadio Value="@("S3")">S3</DaisyRadio>
        </DaisyRadioGroup>
    </DaisyFormField>
    <DaisyFormField Label="数值1">
        <DaisyInputNumber Step="10" @bind-Value="@info.Number1" />
    </DaisyFormField>
    <DaisyFormField Label="数值2">
        <DaisyInputNumber Step="0.1" @bind-Value="@info.Number2" />
    </DaisyFormField>
    <DaisyFormField Label="文本1" LabelRequired For="()=>info.Text">
        <DaisyInputText @bind-Value="@info.Text" />
    </DaisyFormField>
    <DaisyFormField Label="文本1" LabelRequired For="()=>info.Text">
        <DaisyInputText @bind-Value="@info.Text" />
    </DaisyFormField>
    <DaisyFormField Label="选择1" LabelRequired For="()=>info.Select1">
        <DaisySelect Required @bind-Value="@info.Select1">
            <option value="s1">S1</option>
            <option value="s2">S2</option>
            <option value="s3">S3</option>
        </DaisySelect>
    </DaisyFormField>
    <DaisyFormField Label="选择2" For="()=>info.Select2">
        <DaisyMultiSelect @bind-Value="@info.Select2">
            <optgroup label="Group1">
                <option value="s1">S1</option>
                <option value="s2">S2</option>
            </optgroup>
            <option value="s3">S3</option>
        </DaisyMultiSelect>
    </DaisyFormField>
    <DaisyFormField Label="选择3">
        <DaisySelect @bind-Value="@info.select3">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </DaisySelect>
    </DaisyFormField>
    <DaisyFormField>
        <div>
            <DaisyButton Color="@Color.Primary" Type="submit">确定</DaisyButton>
            <DaisyButton Color="@Color.Secondary" Type="reset">重置</DaisyButton>
        </div>
    </DaisyFormField>
</EditForm>

@code {
    private InputInfo info = new InputInfo();
    private void ValidSubmit(EditContext content)
    {

    }
    class InputInfo
    {
        [System.ComponentModel.DataAnnotations.Required]
        public string? Radio { get; set; }
        public int Number1 { get; set; }
        public double Number2 { get; set; }

        [System.ComponentModel.DataAnnotations.Required(ErrorMessage = "Text是必须的")]
        public string? Text { get; set; }

        [System.ComponentModel.DataAnnotations.Required]
        public SubInfo? Select0 { get; set; } = new SubInfo { Name = "S1" };

        [System.ComponentModel.DataAnnotations.Required]
        public string Select1 { get; set; } = "";
        public string[]? Select2 { get; set; } = new string[] { "s1", "s2" };
        public int? select3 = 2;
    }

    class SubInfo
    {
        public string? Text { get; set; }
        public string? Name { get; set; }
    }
}