@page "/forms"

<EditForm Model="@info" OnValidSubmit="@ValidSubmit">
    <DataAnnotationsValidator />
    <DaisyInputText Required Label="文本1" @bind-Value="@info.Text" />
    <DaisySelect Required Label="选择1" @bind-Value="@info.Select1">
        <DaisySelectOption Default Disabled TValue="string" Value="default">请选择</DaisySelectOption>
        <DaisySelectOption Value="@("s1")">S1</DaisySelectOption>
        <DaisySelectOption Value="@("s2")">S2</DaisySelectOption>
        <DaisySelectOption Value="@("s3")">S3</DaisySelectOption>
    </DaisySelect>
    <DaisyMultipleSelect Label="选择2" @bind-Value="@info.Select2">
        <DaisySelectOption Value="@("s1")">S1</DaisySelectOption>
        <DaisySelectOption Value="@("s2")">S2</DaisySelectOption>
        <DaisySelectOption Value="@("s3")">S3</DaisySelectOption>
    </DaisyMultipleSelect>
    <DaisyField>
        <div>
            <DaisyButton Type="submit">确定</DaisyButton>
        </div>
    </DaisyField>
</EditForm>

@code {
    private InputInfo info = new InputInfo();
    private void ValidSubmit(EditContext content)
    {

    }
    class InputInfo
    {
        [System.ComponentModel.DataAnnotations.Required(ErrorMessage = "Text是必须的")]
        public string? Text { get; set; }
        [System.ComponentModel.DataAnnotations.Required]
        public string? Select1 { get; set; }
        public string[]? Select2 { get; set; } = new string[] { "s1", "s2" };
    }
}