@page "/link"

<h3>Link 链接</h3>
<DaisyLink>I'm a simple link</DaisyLink>

<h3>Primary color</h3>
<DaisyLink Color="@Color.Primary">I'm a simple link</DaisyLink>

<h3>Secondary color</h3>
<DaisyLink Color="@Color.Secondary">I'm a simple link</DaisyLink>

<h3>Accent color</h3>
<DaisyLink Color="@Color.Accent">I'm a simple link</DaisyLink>

<h3>Neutral color</h3>
<DaisyLink Color="@Color.Neutral">I'm a simple link</DaisyLink>

<h3>Info color</h3>
<DaisyLink Color="@Color.Info">I'm a simple link</DaisyLink>

<h3>Success color</h3>
<DaisyLink Color="@Color.Success">I'm a simple link</DaisyLink>

<h3>Warning color</h3>
<DaisyLink Color="@Color.Warning">I'm a simple link</DaisyLink>

<h3>Error color</h3>
<DaisyLink Color="@Color.Error">I'm a simple link</DaisyLink>

<h3>Show underline only on hover</h3>
<DaisyLink UnderlineOnHover>I'm a simple link</DaisyLink>