@page "/loading"

<h3>Loading spinner</h3>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.spinner" Size="@Size.Xs"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.spinner" Size="@Size.Sm"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.spinner" Size="@Size.Md"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.spinner" Size="@Size.Lg"></DaisyLoading>

<h3>Loading dots</h3>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.dots" Size="@Size.Xs"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.dots" Size="@Size.Sm"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.dots" Size="@Size.Md"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.dots" Size="@Size.Lg"></DaisyLoading>

<h3>Loading ring</h3>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.ring" Size="@Size.Xs"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.ring" Size="@Size.Sm"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.ring" Size="@Size.Md"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.ring" Size="@Size.Lg"></DaisyLoading>

<h3>Loading ball</h3>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.ball" Size="@Size.Xs"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.ball" Size="@Size.Sm"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.ball" Size="@Size.Md"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.ball" Size="@Size.Lg"></DaisyLoading>

<h3>Loading bars</h3>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.bars" Size="@Size.Xs"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.bars" Size="@Size.Sm"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.bars" Size="@Size.Md"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.bars" Size="@Size.Lg"></DaisyLoading>

<h3>Loading infinity</h3>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.infinity" Size="@Size.Xs"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.infinity" Size="@Size.Sm"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.infinity" Size="@Size.Md"></DaisyLoading>
<DaisyLoading Icon="@DaisyLoading.LoadingIcon.infinity" Size="@Size.Lg"></DaisyLoading>

<h3>Loading with colors</h3>
<DaisyLoading Color="@Color.Primary"></DaisyLoading>
<DaisyLoading Color="@Color.Secondary"></DaisyLoading>
<DaisyLoading Color="@Color.Accent"></DaisyLoading>
<DaisyLoading Color="@Color.Neutral"></DaisyLoading>
<DaisyLoading Color="@Color.Info"></DaisyLoading>
<DaisyLoading Color="@Color.Success"></DaisyLoading>
<DaisyLoading Color="@Color.Warning"></DaisyLoading>
<DaisyLoading Color="@Color.Error"></DaisyLoading>