@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <input type="checkbox" class="drawer-toggle" checked="@CurrentOpened" @onchange="@OnOpenChanged" />
    <div class="drawer-side">
        <div class="drawer-overlay" @onclick="_=>CurrentOpened=!CurrentOpened"></div>
        @ChildContent
    </div>
</div>
