@namespace DaisyBlazor
@inherits DaisyComponentBase
@implements IAsyncDisposable

@if (Show)
{
    <aside class="@DrawerClass" style="@DrawerStyle" @attributes="@AdditionalAttributes">
        <div class="drawer-content">
            @ChildContent
        </div>
        <DaisyOverlay Visible="@OverlayVisible" OnBackgroundClick="@OnClickedOverlayAsync" />
    </aside>
}
