@namespace DaisyBlazor
@inherits DaisyComponentBase

<button @ref="@Element" type="@Type" role="button" class="@BtnClass" style="@Style" @attributes="@AdditionalAttributes" @onclick="@Click" @onclick:stopPropagation="@StopPropagation">@ChildContent</button>
