@namespace DaisyBlazor
@inherits DaisyComponentBase

<button @ref="@Element" id="@Id" type="@Type" class="@Classname" style="@Style" @onclick="@Click" @onclick:stopPropagation="@StopPropagation" @attributes="@Attributes">@ChildContent</button>
