@namespace DaisyBlazor
@inherits DaisyComponentBase

<DaisyOverlay Class="@_overlayClass" Visible="@Visible" OnBackgroundClick="@OnClickBackgroundAsync">
    <div class="@ModalClass" style="@Style" @attributes="@Attributes" @onclick:stopPropagation="@true">
        <CascadingValue Value="@this" IsFixed>
            @ChildContent
        </CascadingValue>
    </div>
</DaisyOverlay>