@namespace DaisyBlazor
@inherits DaisyComponentBase

<DaisyOverlay Id="@Id" Class="@_overlayClass" Visible="@Visible" Attributes="@Attributes" OnBackgroundClick="@OnClickBackgroundAsync">
    <div class="@Classname" style="@Style" @onclick:stopPropagation="@true">
        <CascadingValue Value="@this" IsFixed>
            @ChildContent
        </CascadingValue>
    </div>
</DaisyOverlay>