@if (!string.IsNullOrEmpty(Title))
{
    <h5>@Title</h5>
}

<DaisyTabs>
    <DaisyTab Default Title="Preview" ContentClass="demo-preview">
        <div style="display: flex;justify-content: center;align-items: center;padding: 0.5rem;max-width: 100%;">
            <DynamicComponent Type="@Component" Parameters="@ComponentParameters" />
        </div>
    </DaisyTab>
    <DaisyTab Title="Code" OnChanged="@OnTabChanged" TitleStyle="@CodeTitleStylelist">
        <CodeSnippet Class="hljs rounded-lg" Language="@Language">
            @CodeContents
        </CodeSnippet>
    </DaisyTab>
</DaisyTabs>