@namespace DaisyBlazor
@inherits DaisyComponentBase
@typeparam TValue

<option role="option" class="@Class" style="@Style" @attributes="@AdditionalAttributes" selected="@Default" value="@Value" disabled="@Disabled">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</option>