@namespace DaisyBlazor
@inherits DaisyInputBase<TValue>
@typeparam TValue

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <input @ref="@Element" role="radio" type="radio" id="@Id" name="@Name" checked="@Checked" value="@Value" @onchange="@OnInputChanged" disabled="@Disabled" readonly="@ReadOnly" class="@Classname" style="@Style" @attributes="@Attributes" />
</label>