@namespace DaisyBlazor
@inherits DaisyInputBase<bool>

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <input @ref="@Element" type="checkbox" id="@Id" name="@Name" class="@CheckboxClass" style="@Style" required="@Required" disabled="@Disabled" readonly="@Readonly" @attributes="@AdditionalAttributes" checked="@BindConverter.FormatValue(CurrentValue)" @onchange="@(EventCallback.Factory.CreateBinder<bool>(this,__value=>CurrentValue=__value,CurrentValue))" />
</label>