@namespace DaisyBlazor
@inherits DaisyInputBase<TValue>
@typeparam TValue

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <InputRadio class="@RadioClass" style="@Style" @attributes="@Attributes" name="@Name" checked="@Checked" disabled="@Disabled" Value="@Value" />
</label>