@namespace DaisyBlazor
@inherits DaisyInputBase<bool>

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <input @ref="@Element" role="checkbox" type="checkbox" id="@Id" class="@Classname" style="@Style" checked="@Value" disabled="@Disabled" readonly="@ReadOnly" @onchange="@OnCheckedChanged" @attributes="@Attributes" />
</label>