@namespace DaisyBlazor
@inherits DaisyInputBase<TValue>
@typeparam TValue

<div @ref="@Element" class="@RadioGroupClass" style="@Style" @attributes="@AdditionalAttributes">
    <CascadingValue Value="@this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>
