@namespace DaisyBlazor
@inherits DaisyComponentBase
@typeparam TValue

<option role="option" class="@Class" style="@Style" @attributes="@AdditionalAttributes" disabled="@Disabled" selected="@Default" value="@StringValue">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</option>