@namespace DaisyBlazor
@inherits DaisyInputBase<TValue>
@typeparam TValue

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <input type="radio" @ref="@Element" name="@Name" checked="@Checked" value="@Value" @onchange="@OnInputChanged" disabled="@Disabled" class="@Classname" style="@Style" @attributes="@Attributes" />
</label>