@namespace DaisyBlazor
@inherits DaisyInputBase<TValue>
@typeparam TValue

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <input role="radio" type="radio" class="@RadioClass" style="@Style" @attributes="@Attributes" name="@Name" checked="@Checked" value="@Value" @onchange="@OnInputChanged" disabled="@Disabled" />
</label>