@namespace DaisyBlazor
@inherits DaisyComponentBase

<div @ref="@Element" id="@Id" class="@Classname" style="@Style">
    <label class="form-field-label">@Label</label>
    <div class="form-field-input">
        @ChildContent
    </div>
</div>