@namespace DaisyBlazor
@inherits DaisyComponentBase
@typeparam TValue

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <input type="radio" class="@RadioClass" style="@Style" @attributes="@AdditionalAttributes" disabled="@Disabled" name="@RadioGroup?.RadioName" checked="@Checked" value="@StringValue" @onchange="@OnInputChanged" />
</label>