@namespace DaisyBlazor
@inherits DaisyInputBase<bool>

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <input @ref="@Element" type="checkbox" required="@Required" id="@Id" name="@Name" class="@CheckboxClass" style="@Style" @attributes="@AdditionalAttributes" disabled="@Disabled" readonly="@Readonly" checked="@CurrentValue" @onchange="@OnInputChanged" />
</label>