@namespace DaisyBlazor
@inherits DaisyInputBase<TValue>
@typeparam TValue

<option role="option" class="@Class" style="@Style" @attributes="@Attributes" selected="@DefaultSelected" value="@Value" disabled="@Disabled">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</option>