@namespace DaisyBlazor
@inherits DaisyInputBase<TValue>
@typeparam TValue

<option id="@Id" class="@Class" style="@Style" value="@Value" disabled="@Disabled" @attributes="@Attributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</option>