@namespace DaisyBlazor
@inherits DaisyComponentBase
@typeparam TValue

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <input type="radio" id="@Id" name="@(Name??RadioGroup?.RadioName)" class="@RadioClass" style="@Style" disabled="@Disabled" @attributes="@AdditionalAttributes" checked="@Checked" value="@Value" @onchange="@OnRadioChanged" />
</label>