@namespace DaisyBlazor
@inherits DaisyInputBase<bool>

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <InputCheckbox @ref="@Input" required="@Required" id="@Id" class="@CheckboxClass" style="@Style" @attributes="@Attributes" disabled="@Disabled" readonly="@ReadOnly" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" />
</label>