@namespace DaisyBlazor
@inherits DaisyInputBase<bool>

<label class="@ContainerClass">
    @if (ChildContent is not null)
    {
        <span>@ChildContent</span>
    }
    else if (Label is not null)
    {
        <span>@Label</span>
    }
    <input type="checkbox" @ref="@Element" id="@Id" class="@Classname" style="@Style" checked="@Value" @onchange="@OnCheckedChanged" />
</label>