@namespace DaisyBlazor
@inherits DaisyComponentBase

<div @ref="@Element" id="@Id" style="@Style" class="tabs @Class" @attributes="@Attributes">
    <CascadingValue Value="@this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>