@namespace DaisyBlazor
@inherits DaisyComponentBase

<a role="tab" class="@TitleClassname" style="@TitleStylelist" @onclick="@OnClickItem">
    @if (TitleContent is not null)
    {
        @TitleContent
    }
    else
    {
        @Title
    }
</a>
<div role="tabpanel" class="@ContentClassname" style="@ContentStylelist">
    @ChildContent
</div>