@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (IconContent is not null)
    {
        <div>@IconContent</div>
    }
    <div>@ChildContent</div>
    @if (ActionContent is not null)
    {
        <div>@ActionContent</div>
    }
</div>
