@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@FieldClass" style="@FieldStyle" @attributes="@AdditionalAttributes">
    @if (LabelColspan > 0)
    {
        <label class="@FieldLabelClass">@Label</label>
    }
    <div class="form-field-input">
        @ChildContent
        @if (CascadedEditContext != null && For != null)
        {
            <ValidationMessage For="@For" />
        }
    </div>
</div>