@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@FieldClass" style="@FieldStyle" @attributes="@AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="@FieldLabelClass">@Label</label>
    }
    <div class="form-field-input">
        @ChildContent
    </div>
</div>