@namespace DaisyBlazor
@inherits DaisyComponentBase

<li class="@Class" style="@Style" @attributes="@AdditionalAttributes">
    <span class="@TitleClassname" @onclick="_=>Open=!Open">
        @if (TitleContent is not null)
        {
            @TitleContent
        }
        else
        {
            @Title
        }
    </span>
    <ul class="@ContentClassname">
        <CascadingValue Value="@this" IsFixed>
            @ChildContent
        </CascadingValue>
    </ul>
</li>