@namespace DaisyBlazor
@inherits DaisyComponentBase

<li class="@SubClass" style="@Style" @attributes="@Attributes">
    <span class="menu-sub-title" @onclick="@OnHandlerClickTilte">
        @if (TitleContent is not null)
        {
            @TitleContent
        }
        else
        {
            @Title
        }
    </span>
    @if (!Collapsed)
    {
        <ul class="@SubContentClass">
            <CascadingValue Value="@this" IsFixed>
                @ChildContent
            </CascadingValue>
        </ul>
    }
</li>