@namespace DaisyBlazor
@inherits DaisyComponentBase

<li class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <NavLink ActiveClass="@ActiveClass" Match="@Match" href="@Href">
        @ChildContent
    </NavLink>
</li>
