@namespace DaisyBlazor
@inherits DaisyComponentBase
@implements IDisposable

<div @ref="@Element" id="@Id" class="@Classname" style="@Style" @attributes="@Attributes">
    @if (ChildContent is not null)
    {
        <CascadingValue Value="@this" IsFixed>
            @ChildContent
        </CascadingValue>
    }
    else
    {
        <div class="toast-content">
            <DaisyAlert Filled="@Options.Filled" ShowIcon="@Options.ShowIcon" AlertLevel="@ToastLevel" Title="@Title">
                <ChildContent>
                    @MessageContent
                </ChildContent>
                <ActionContent>
                    @if (Options.ShowCloseButton)
                    {
                        <DaisyButton Size="@Size.Sm" Circle OnClick="@Close">✕</DaisyButton>
                    }
                </ActionContent>
            </DaisyAlert>
        </div>
    }
    @if (Options.ShowProgress)
    {
        <DaisyProgress Color="@(Enum.Parse<Color>(ToastLevel.ToString()))" Value="@_progress" />
    }
</div>