@namespace DaisyBlazor
@inherits DaisyComponentBase

@if (ToastList.Any())
{
    <div id="@Id" class="@Classname" style="@StyleAttribute" @attributes="@Attributes">
        <CascadingValue Value="@this" IsFixed>
            @foreach (var toast in ToastList.OrderBy(x => x.TimeStamp))
            {
                <DaisyToast @key="toast" Options="toast.Options" ToastId="@toast.Id" ToastLevel="@toast.ToastLevel" Title="@toast.Title">
                    @toast.MessageContent
                </DaisyToast>
            }
        </CascadingValue>
    </div>
}