@namespace DaisyBlazor
@inherits DaisyComponentBase

@if (ToastList.Any())
{
    <div @ref="@Element" id="@Id" class="@Classname" style="@StyleAttribute" @attributes="@Attributes">
        <CascadingValue Value="@this" IsFixed>
            @foreach (var toast in ToastList.OrderBy(x => x.TimeStamp))
            {
                @if (toast.ToastContent is not null)
                {
                    <DaisyToast @key="toast" Options="toast.Options" ToastId="@toast.Id" ToastLevel="@toast.ToastLevel">
                        @toast.ToastContent
                    </DaisyToast>
                }
                else
                {
                    <DaisyToast @key="toast" Options="toast.Options" ToastId="@toast.Id" ToastLevel="@toast.ToastLevel" Title="@toast.Title">
                        <MessageContent>
                            @toast.MessageContent
                        </MessageContent>
                    </DaisyToast>
                }
            }
        </CascadingValue>
    </div>
}