@namespace DaisyBlazor
@inherits DaisyComponentBase
@typeparam TItem

<tr @ref="@Element" id="@Id" style="@Style" class="@TrClass" @attributes="@Attributes">
    @if (MultiSelection)
    {
        <td class="td-checkbox">
            <DaisyCheckbox Value="@Checked" ValueChanged="@OnCheckedChanged" />
        </td>
    }
    @ChildContent
</tr>
