@namespace DaisyBlazor
@inherits DaisyComponentBase
@typeparam TItem

<tr class="@TrClass" style="@Style" @attributes="@AdditionalAttributes">
    @if (MultiSelection)
    {
        <td class="td-checkbox">
            <DaisyCheckbox Value="@Checked" ValueChanged="@OnCheckedChanged" />
        </td>
    }
    @ChildContent
</tr>
