@namespace DaisyBlazor
@inherits DaisyComponentBase
@typeparam TItem

<table @ref="@Element" id="@Id" style="@Style" class="@TableClass" @attributes="@Attributes">
    <CascadingValue Value="@this" IsFixed>
        <thead>
            <DaisyHeadTr MultiSelection="@MultiSelection" Items="@_items" SelectedItems="@SelectedItems">
                @if (HeadTemplate is not null)
                {
                    @HeadTemplate
                }
                else if (Columns is not null)
                {
                    <CascadingValue Name="RenderMode" Value="@DaisyColumn.RenderMode.Head" IsFixed>
                        @Columns(DefaultValue)
                    </CascadingValue>
                }
            </DaisyHeadTr>
        </thead>
        <tbody>
            @if (_items.Any() && Columns != null)
            {
                <CascadingValue Name="RenderMode" Value="@DaisyColumn.RenderMode.Body" IsFixed>
                    @foreach (var item in _items)
                    {
                        <DaisyTr MultiSelection="@MultiSelection" Item="@item" SelectedItems="@SelectedItems">
                            @Columns(item)
                        </DaisyTr>
                    }
                </CascadingValue>
            }
            else
            {
                <tr><td colspan="1000" align="center">Empty Table</td></tr>
            }
        </tbody>
        @if (FootTemplate is not null)
        {
            <tfoot><tr>@FootTemplate</tr></tfoot>
        }
        @if (ShowPager)
        {
            <tfoot>
                <tr>
                    <td colspan="1000">
                        <div class="@PagerClass">
                            @if (PagerTemplate is not null)
                            {
                                @PagerTemplate
                            }
                            else
                            {
                                <DaisyPagination Total="@TotalPager" SizeOption="@PageSizeOption" @bind-PageIndex="@PageIndex" @bind-PageSize="@PageSzie" Outline="@OutlinePager" />
                            }
                        </div>
                    </td>
                </tr>
            </tfoot>
        }
    </CascadingValue>
</table>
