@namespace DaisyBlazor
@inherits DaisyComponentBase
@typeparam TItem

<div class="table-container">
    @if (ToolbarTemplate is not null)
    {
        <div class="table-toolbar">
            @ToolbarTemplate
        </div>
    }
    <table class="@TableClass" style="@Style" @attributes="@AdditionalAttributes">
        <CascadingValue Value="@this" IsFixed>
            <thead>
                <DaisyHeadTr MultiSelection="@MultiSelection" Items="@_currentPageItems" SelectedItems="@SelectedItems">
                    @if (HeadTemplate is not null)
                    {
                        @HeadTemplate
                    }
                    else if (Columns is not null)
                    {
                        <CascadingValue Name="RenderMode" Value="@DaisyColumn.RenderMode.Head" IsFixed>
                            @Columns(DaisyDataTable<TItem>.DefaultValue)
                        </CascadingValue>
                    }
                </DaisyHeadTr>
            </thead>
            <tbody>
                @if (_currentPageItems.Any() && Columns != null)
                {
                    <CascadingValue Name="RenderMode" Value="@DaisyColumn.RenderMode.Body" IsFixed>
                        @foreach (var item in _currentPageItems)
                        {
                            <DaisyTr MultiSelection="@MultiSelection" Item="@item" SelectedItems="@SelectedItems">
                                @Columns(item)
                            </DaisyTr>
                        }
                    </CascadingValue>
                }
                else
                {
                    <tr><td colspan="1000" align="center">Empty Table</td></tr>
                }
            </tbody>
            @if (FootTemplate is not null)
            {
                <tfoot><tr>@FootTemplate</tr></tfoot>
            }
        </CascadingValue>
    </table>
    @if (ShowPager)
    {
        <div class="@PagerClass">
            @if (PagerTemplate is not null)
            {
                @PagerTemplate
            }
            else
            {
                <DaisyPagination Total="@_totalPager" SizeOption="@PageSizeOption" @bind-PageIndex="@PageIndex" @bind-PageSize="@PageSize" Outline="@OutlinePager" />
            }
        </div>
    }
</div>