@namespace DaisyBlazor
@inherits DaisyComponentBase
@typeparam TItem

    <table class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
        <CascadingValue Value="@this" IsFixed>
            <thead>
                <DaisyHeadTr MultiSelection="@MultiSelection" Items="@_items" SelectedItems="@SelectedItems">
                    @if (HeadContent is not null)
                    {
                        @HeadContent
                    }
                    else if (Columns is not null)
                    {
                        <CascadingValue Name="RenderMode" Value="@DaisyColumn.RenderMode.Head" IsFixed>
                            @Columns(DaisyTable<TItem>.DefaultValue)
                        </CascadingValue>
                    }
                </DaisyHeadTr>
            </thead>
            <tbody>
                @if (_items.Any() && Columns != null)
                {
                    <CascadingValue Name="RenderMode" Value="@DaisyColumn.RenderMode.Body" IsFixed>
                        @foreach (var item in _items)
                        {
                            <DaisyTr MultiSelection="@MultiSelection" Item="@item" SelectedItems="@SelectedItems">
                                @Columns(item)
                            </DaisyTr>
                        }
                    </CascadingValue>
                }
                else
                {
                    <tr><td colspan="1000" align="center">Empty Table</td></tr>
                }
            </tbody>
            @if (FootContent is not null)
            {
                <tfoot><tr>@FootContent</tr></tfoot>
            }
        </CascadingValue>
    </table>