@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@PagerClass" style="@Style" @attributes="@AdditionalAttributes">
    @if (ShowSizeOption)
    {
        <div class="pager-sizeoption">
            <h6>@SizeOptionLabel</h6>
            <DaisySelect LabelColspan="0" @bind-Value="@PageSize" Style="max-width:max-content">
                @foreach (var option in SizeOption)
                {
                    <DaisySelectOption Value="@option">@option</DaisySelectOption>
                }
            </DaisySelect>
        </div>
    }
    <DaisyButtonGroup>
        <DaisyButton Outline="@Outline" Disabled="@PrevDisabled" OnClick="@OnClickPrev">&lt;</DaisyButton>
        @if (Total >= 1)
        {
            <DaisyButton Outline="@Outline" OnClick="_=>OnClickPager(1)" Active="@(PageIndex==1)">1</DaisyButton>
        }
        @if (Total <= 7)
        {
            for (int i = 2; i < Total; i++)
            {
                var buttonIndex = i;
                <DaisyButton Outline="@Outline" OnClick="_=>OnClickPager(buttonIndex)" Active="@(PageIndex==buttonIndex)">@buttonIndex</DaisyButton>
            }
        }
        else
        {
            if (PageIndex <= 4)
            {
                for (int i = 2; i < 5; i++)
                {
                    var buttonIndex = i;
                    <DaisyButton Outline="@Outline" OnClick="_=>OnClickPager(buttonIndex)" Active="@(PageIndex==buttonIndex)">@buttonIndex</DaisyButton>
                }
                <DaisyButton Outline="@Outline" OnClick="_=>OnClickPager(5)" Active="@(PageIndex==5)">5</DaisyButton>
                <DaisyButton Outline="@Outline" Disabled>…</DaisyButton>
            }
            else if (PageIndex > Total - 4)
            {
                <DaisyButton Outline="@Outline" Disabled>…</DaisyButton>
                @for (int i = Total - 4; i < Total; i++)
                {
                    var buttonIndex = i;
                    <DaisyButton Outline="@Outline" OnClick="_=>OnClickPager(buttonIndex)" Active="@(PageIndex==buttonIndex)">@buttonIndex</DaisyButton>
                }
            }
            else
            {
                <DaisyButton Outline="@Outline" Disabled>…</DaisyButton>
                @for (int i = PageIndex - 1; i < PageIndex + 2; i++)
                {
                    var buttonIndex = i;
                    <DaisyButton Outline="@Outline" OnClick="_=>OnClickPager(buttonIndex)" Active="@(PageIndex==buttonIndex)">@buttonIndex</DaisyButton>
                }
                <DaisyButton Outline="@Outline" Disabled>…</DaisyButton>
            }

        }
        @if (Total >= 2)
        {
            <DaisyButton Outline="@Outline" OnClick="_=>OnClickPager(Total)" Active="@(PageIndex==Total)">@Total</DaisyButton>
        }
        <DaisyButton Outline="@Outline" Disabled="@NexDisabled" OnClick="@OnClickNex">&gt;</DaisyButton>
    </DaisyButtonGroup>
</div>