@namespace DaisyBlazor
@inherits DaisyComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <DaisyButton Class="join-item" Size="@Size" Disabled="@PrevDisabled" OnClick="@OnClickPrev">&lt;</DaisyButton>
    @if (Total >= 1)
    {
        <DaisyButton Class="join-item" Size="@Size" OnClick="_=>OnClickPager(1)" Active="@(PageIndex==1)">1</DaisyButton>
    }
    @if (Total <= 7)
    {
        for (int i = 2; i < Total; i++)
        {
            var buttonIndex = i;
            <DaisyButton Class="join-item" Size="@Size" OnClick="_=>OnClickPager(buttonIndex)"
                Active="@(PageIndex==buttonIndex)">
                @buttonIndex</DaisyButton>
        }
    }
    else
    {
        if (PageIndex <= 4)
        {
            for (int i = 2; i < 5; i++)
            {
                var buttonIndex = i;
                <DaisyButton Class="join-item" Size="@Size" OnClick="_=>OnClickPager(buttonIndex)"
                    Active="@(PageIndex==buttonIndex)">
                    @buttonIndex</DaisyButton>
            }
            <DaisyButton Class="join-item" Size="@Size" OnClick="_=>OnClickPager(5)" Active="@(PageIndex==5)">5</DaisyButton>
            <DaisyButton Class="join-item" Size="@Size" Disabled>...</DaisyButton>
        }
        else if (PageIndex > Total - 4)
        {
            <DaisyButton Class="join-item" Size="@Size" Disabled>...</DaisyButton>
            @for (int i = Total - 4; i < Total; i++)
            {
                var buttonIndex = i;
                <DaisyButton Class="join-item" Size="@Size" OnClick="_=>OnClickPager(buttonIndex)"
                    Active="@(PageIndex==buttonIndex)">
                    @buttonIndex</DaisyButton>
            }
        }
        else
        {
            <DaisyButton Class="join-item" Size="@Size" Disabled>...</DaisyButton>
            @for (int i = PageIndex - 1; i < PageIndex + 2; i++)
            {
                var buttonIndex = i;
                <DaisyButton Class="join-item" Size="@Size" OnClick="_=>OnClickPager(buttonIndex)"
                    Active="@(PageIndex==buttonIndex)">
                    @buttonIndex</DaisyButton>
            }
            <DaisyButton Class="join-item" Size="@Size" Disabled>...</DaisyButton>
        }

    }
    @if (Total >= 2)
    {
        <DaisyButton Class="join-item" Size="@Size" OnClick="_=>OnClickPager(Total)" Active="@(PageIndex==Total)">@Total
        </DaisyButton>
    }
    <DaisyButton Class="join-item" Size="@Size" Disabled="@NexDisabled" OnClick="@OnClickNex">&gt;</DaisyButton>
</div>